body {
    background-image : url("https://img1.wallspic.com/previews/5/5/7/9/39755/39755-galaxie_spirale-nuit-univers-desert_datacama-lastronomie-x750.jpg") ;
    background-repeat : no-repeat;
    background-size: 100%;
}



.title {
	 text-align:center ;
    opacity: 80%;
    font-family: 'Inter', sans-serif;
    font-size: large;
    border: 1px solid black;
    background-color: bisque;
    padding: 0;
    border-color: black;
    border-radius: 30px;
    z-index: 2;
}
.zone {
    position: relative;
    z-index: 10;
	text-align:center ;
    opacity: 80%;
    font-family: 'Inter', sans-serif;
    font-size: large;
    border: 1px solid black;
	float: right;
    background-color: bisque;
	height: 25%;
    width: 22%;
    padding: 0;
    border-color: black;
    border-radius: 30px;
	margin-top: 20%;
   
}
.systeme {
    position:absolute;
    font-family: 'Inter', sans-serif;
    text-align:center;
    z-index: 10;
    opacity: 80%;
    border: 1px solid black;
	float: left;
    background-color: bisque;
	height: 59%;
    width: 20%;
    padding: 0;
    overflow: hidden;
    border-color: black;
    border-radius: 30px;
	margin-top: 6%;
    margin-bottom: 2%;
}
p.copy {
	position: absolute;
	bottom:0%;
	color: #FFFFFF;
    z-index: 2;
}