body {
    background-image : url("https://assets-fr.wemystic.fr/20200616170448/Depositphotos_84414916_l-2015-e1592323513875.jpg") ;
    background-repeat : no-repeat;
    background-size: 100%;
}
.title {
	 text-align:center ;
    opacity: 70%;
    font-family: 'Inter', sans-serif;
    font-size: large;
    border: 1px solid black;
    background-color: bisque;
    padding: 0;
    border-color: black;
    border-radius: 30px;
}


.pluton1 {
    overflow: hidden;
    float: left;
    position: relative;
    font-family: 'Varela Round', sans-serif;
    background-color: bisque;
    margin-top: 1%;
    width: 40%;
    height: 80%;
    opacity: 70%;
    border-color:black ;
    border-radius: 10px;
}

.pluton1 p {
    overflow: hidden;
	margin-left: 1%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    text-align:justify;
    padding: 0,5%;
    padding-right: 1%;
    font-size:medium;
    font-weight:400;
}

p.copy {
	position: absolute;
	bottom:0%;
	color: #ffffff;
}
.container {
    margin-top: 35%;
    float: right;
    margin-left: 2%;
}
a {
	font-family: 'Varela Round', sans-serif;
	color : #FFFFFF
}
.lien {
    float: right;
    margin-right: 25%;
}