body {
    background-image : url("https://cdnx.nextinpact.com/data-next/images/bd/wide-linked-media/9298.jpg") ;
    background-repeat : repeat-y;
    background-size: 100%;
}
.title {
	 text-align:center ;
    opacity: 70%;
    font-family: 'Inter', sans-serif;
    font-size: large;
    border: 1px solid black;
    background-color: bisque;
    padding: 0;
    border-color: black;
    border-radius: 30px;
}

.neptune1 {
    float: left;
    position: relative;
    font-family: 'Varela Round', sans-serif;
    background-color: bisque;
    margin-top: 9%;
    width: 24%;
    height: 80%;
    opacity: 70%;
    border-color:black ;
    border-radius: 10px;
}

.neptune1 p {
	margin-left: 1%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    text-align:justify;
    padding: 0,5%;
    padding-right: 1%;
    font-size:medium;
    font-weight:400;
}
.neptune2 {
    float: right;
    font-family: 'Varela Round', sans-serif;
    background-color: bisque;
    margin-right: 3%;
    margin-top: 15%;
    
    width: 22%;
    height: 80%;
    opacity: 70%;
    border-color:black ;
    border-radius: 10px;
}

.neptune2 p {
    
	margin-left: 1%;
    padding-top: 1%;
    text-align:justify;
    padding: 0,5%;
    padding-right: 1%;
    font-size:medium;
    font-weight:400;
}
p.copy {
	position: absolute;
	bottom:0%;
	color: #ffffff;
}
.container {
    margin-top: 35%;
    float: right;
    margin-left: 2%;
}
a {
	font-family: 'Varela Round', sans-serif;
	color : #FFFFFF
}
.lien {
    float: right;
}
